.photo-preview {

    .photo-card {
        position: fixed;
        width: 94%;
        height: 90%;
        background: rgb(24, 51, 70);
        background: linear-gradient(180deg, rgba(24, 51, 70, 1) 31%, rgba(89, 125, 160, 1) 93%);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 6px solid $modal-border;
        overflow-y: auto;
        box-shadow: 0px 0px 40px 29px #000000;

        .exit {
            position: fixed;
            right: 5px;
            top: 5px;
            border-radius: 2px;
        }

        .details {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            color: $main-white;

            img {
                height: 500px;
                width: 500px;
                border: 2px solid $main-white;
                box-shadow: 0px 0px 34px 8px rgba(0, 0, 0, 0.55);
            }

            h1 {
                font-size: 36px;
                font-weight: 200;
                padding: 20px;
                text-align: center;

                span {
                    font-weight: 600;
                    font-size: 46px;

                }
            }

            h2 {
                font-size: 30px;
                font-weight: 200;
                padding: 20px;

                span {
                    font-weight: 600;
                    font-size: 32px;

                }
            }

        }
    }
}