.photo-filter {
    display: flex;
    font-size: 20px;
    color: $main-white;
    width: 400px;

    @media (max-width:760px) {
        justify-content: center;
        font-size: 16px;
        max-width: 300px;
        margin-bottom: 10px;
    }

    input {
        margin-left: 5px;
        padding: 4px;
        border-radius: 5px;
        background-color: $main-bg;
        outline: none;
        border: 2px solid $id-text;
        color: $modal-border;

        &::placeholder {
            color: $id-text;
        }

        &:focus {
            outline: none;
            border: 2px solid $modal-border;
        }
    }
}