.home-page {
    background-color: $main-bg;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 113px);
    margin-top: 113px;

    .display-title {
        color: $main-white;
        padding: 30px;
    }

    .album-title {
        text-align: left;
        width: 100%;
        padding: 30px 120px;
        font-size: 24px;
        color: $main-white;
    }

    .secondary-title {
        display: flex;
        align-items: center;
        line-height: 35px;
        vertical-align: middle;
        justify-content: space-between;
        width: 60%;
    }

}