*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: gotham-light;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin: 0;
}

p {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
}

button {
  font-family: inherit;
  cursor: pointer;
}

input {
  font-family: inherit;
  text-align: inherit;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $main-white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $main-card;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $img-bg;
}